1. What are data structures, and why are they important?
        ->   Data structurs are way to store and organize data, so that it can be used effectively with the program. Pythin provides built in data structurs like List, tuple, set and dictionary.
        Importance of Data sturctures is:
        * Performance Optimization: The proper data sturcture can improve time and efficiency of the program
        * Code Simplicity: Hepls to work complex data with simple syntax.
        * Efficient data management: helps in storing the data for the program needs
        * Foundation for algorithms: Data structurs are mainly used in algotithms like sorting, searching in Python program.

2. Explain the difference between mutable and immutable data types with examples.
        -> Difference between mutable and immutable data types are:
        Mutable Data Types
        * Can be modified after creation.
        * You can change, add, or delete elements without creating a new object.
        * Multiple references to the same object will reflect the change.
        * common mutable types are: list, dict, set
        Ex: my_list = [1,2,3]
            my_list[0] = 5
            print(my_list)
            Output: [5,2,3]

            Immutable Data Types
            * Cannot be changed once created.
            * Any "change" creates a new object in memory.
            * Safer for use as dictionary keys or in multi-threaded code.
            * Common immutable types are: int, float, tuple
            Ex: my_str = "hello"
                my_str[0] = H
                print(my_str)
                output: Error string is immutable.


3. What are the main difference between lists and tuples in python?
        ->

4. Describe how dictionaries store data.
        -> disctionaries in Python store data as key-value pairs using a optimized structurs called hash-table.

        A key: Is Immutable such as string, numbers, tuples
        A Value: A value can be of any type.


5. Why might you use a set instead of a list in python?
        -> You choose set instead of list because, Sets automatically eliminated the duplicate values, while lists allow them. Sts supports mathimaticals set of opperations such as intersection and symmetric diffreences

6. What is a string in python, and how is it different from a list?
        -> A string in Python is a sequence of characters, while list is sequence of elements.
        String:
        * A sequnece of unique characters
        * Immutable cannot be changed once created.
        * Defined using single('___') or double("___") quotes

        List:
        * Collection osf ordered set of items
        * Muttable can change the stated of the data. And helps in holding helps of any type such as numbers, string and other elements.
        * Defined using square brackets[____].

7. How do tuples ensure data integrity in Python?
        -> A tuple is a immutable sequence, where elements once created cannot be changed, added to or removed.
        Tuples ensures data integrity in Python by:
        * Prevents accendintal modification: Once the data in Tuple is created cannot be change nor autered.
        * Tuples can be used as keys in dictionaries or elements in sets.
        * Immutable data like Tuples is safer to share between threads.
        Tuples are often used to represent the fixed collection of related data.

8. What is a hash table, and how does it relate to dictionaries in Python?
        -> A hash table is a data structure that stores key-value pairs and allows fast access to value using key. In Python built-in function dict(Dictionary) type is immplement using a hash table.

        * A key is passed through a hash function, which returns into a unique value index.
        * This index determine where the corresponding value is stored in memory.
        * When you access a value by key, Python uses the same hash function to find the value.

9. Can lists contain different data types in python?
        -> Yes lists contain different data types in Python. Python is a dynammically typed language, means and mix and match differnt types of elements in same list without any issues.
      
10. Explain why strings are immutable in Python.
        -> String are immutable in Python, once string is created its content cannot be changed, because:
        * Efficiency and performance: Python often reuse string object internally to save memory. If string is mutable, changing one could unexpectedly affect many variables.
        * hasibility: String are used as keys in dictionaries and sets, which requires unchangable objects.
        * Thread Safety: Since string cannot be changed, they are inherently safe safe to use across multiple treads.

11. What advantages do dictionaries offer over lists for certain tasks?
        -> Advantages of dictionaries over lists are:
        * Dictionary access is constant time compared to linear time for lists.
        * More Descriptive Access: Dictionary keys acts like, making code more readable and self-documenting.
        * Avoids searching index: With a lists, have to search or remember specific index positions. A dictionary helps to access data by name.
        * Ideal and structured data: Dictionaries are great for stroing records.
        * Flexible data modeling: Can nest dictionaries, making them suitable for modeling complex data structures.

12. Describe the scenario where using a tuple would be preferable over a list.
        -> Scenarios Where a tuples is better than a list:
        * The Data should not Change(Immutability): If the value shouldn't be changed once created use a tuple to prevent accedintal changes.
        * Tuples as Disctionary keys or Set elements: Because tuples are hashable they can be used as keys in dictionaries or as elements in sets. Lists cannot.
        * Returns Multiple value from a functions: Functions that need to return multiple related values often use tuples for simplicity and clarity.

13. How do set handle duplicate values in Python?
        -> A set is an unordered collection of unique elements, which helps to automatically remove duplicate value.

14. How does the "in" keyword work differently for lists and dictionaries?
        -> The "in" keyword is used to check membership in python, but it behaves differently for lists and dictionaries.
        In list "in" checks if a value exists in the list.
        In dictionaries "in" checks is a key exists in dictionary, not a value.

15. Can you modify the elements of a tuple? Explain Why or why not.
        -> No, elements in tuples cannot be modified.
        Because Tuple is immutable, once the element is created cannot be modified, added or removed from tuple.
        Immutable means that data remain constant throughout the program.
        Tuples can be used as keys in dictionaries or elements in sets if all there elements are immutable.

16. What is a nested  dictionary, and give an example of its use case?
        -> A nested dictionary in Python is a dictionary within another dictionary. It's a way to store hierarchical or structured data.

        student_data = {
    "Venu": {"age": 27, "Subject": "Python"},
    "Virat": {"age": 28, "Subject": "Java"},
}

17. Describe the time complexity of accessing elements in a dictionary.
        ->

18. In what situations are lists preferred over dictionaries?
        -> Lists are preferred over dictionaries in the following situations:
        * Order matters: When you need to preserve and rely on the order of elements.
        * Simple collections of items: When just need to store a group of values.
        * Index-Based access: When want to access items using numeric positions.
        * Allowing duplicate value: Lists allows duplicate values, where dictionaries do not.


19. Why are dictionaries considered unordered, and how does taht affect data retrieval?
        -> Dictionaries are considered as unordered because:
        * Access is based on key, not on positions.
        * Cannot index into dictionary like a list.
        * Their primary purpose is key-value mapping, not sequence handling.


20. Explain the difference between a list and a dictionary in terms of data retrivel.
        -> Difference between list and dictinary are:
        List-->
        * Access method by Index
        * Syntax my_list[1]
        * Speed o(1) for known index.
        * Use case ordered sequences
        * Allows duplicate

        Dictionary-->
        * Access method by Key
        * Syntax my_dict["Name"]
        * Speed o(1) for known index.
        * Use case key-value mapping.
        * Does not allows duplicate.

In [ ]:
# 1.	Write a code to create a string with your nome and print it.

name = "Venugopal"
print(name)

Venugopal

In [ ]:
# 2.	Write a code to find the length of the string "Hello World".

text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [ ]:
#  3.	Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [ ]:
# 4.	Write a code to convert the string "hello" to uppercase.

text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
# 6.	Write a code to create a list with numbers 1 to  5 and print it.

numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7.	Write a code to append the number 10 to the list 1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
# 8.	Write a code to remove the number 3 from the list 1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# 9.	Write a code to access the second element in the list ['a', 'b', 'c', 'd]

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [ ]:
# 10.	Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

In [ ]:
# 11.	Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12.	Write a code to access the second—to—lost element of the tuple ('red', 'green', 'blue', 'yellow’).

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [ ]:
#13.	Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [ ]:
#14.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
#15.	Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
is_kiwi_present = 'kiwi' in fruits
print(is_kiwi_present)

False

In [ ]:
#16.	Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#17.	Write a code to clear all elements from the set (1, 2, 3, 4, 5).

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18.	Write a code to remove the element 4 from the set (1, 2, 3, 4).

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19.	Write a code to find the union of two sets (1, 2, 3) and (3, 4, 5).

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20.	Write a code to find the intersection of two sets (1, 2, 3) and (2, 3, 4).

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [ ]:
# 21.	Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name": "Venugopal",
    "age": 27,
    "city": "Bengaluru"
}
print(my_dict)

{'name': 'Venugopal', 'age': 27, 'city': 'Bengaluru'}

In [ ]:
# 22.	Write a code to add a new key-value pair "country": "USA" to the dictionary ('name': 'John', 'age': 25).

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23.	Write a code to access the value associated with the key "name" in the dictionary ('name’: 'Alice', 'age': 30).

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [ ]:
# 24.	Write a code to remove the key "age" from the dictionary (’nome’: 'Bob', 'age': 22, 'city': ’New York’).

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25.	Write a code to check if the key "city" exists in the dictionary ('name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

In [ ]:
# 26.	Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Venugopal', 'age': 27, 'city': 'Bengaluru'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Venugopal', 'age': 27, 'city': 'Bengaluru'}

In [ ]:
# 27.	Write a code to create a list of 5 random numbers between 1 and	100, sort it in ascending order, and print the result.(replaced)


import random

random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()
print(random_numbers)

[6, 24, 67, 95, 97]

In [ ]:
# 28.	Write a code to create a list with strings and print the element at the third index.

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[3])

date

In [ ]:
# 29.	Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'job': 'Engineer'}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
# 30.	Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}